:root {
    --button-background : #385;
    --header-background: rgba(0,127,255,0.8);
    --footer-background: #666;
}

body {
    font-family: sans-serif;
    color: #333;
}

.container {
    width: 95%;
    margin: 0 auto;
}


header {
    min-height: 20rem;
    background: var(--header-background);
}

main {
    min-height: 50rem;
}

.duo {
    display: grid;
}


@media (min-width: 768px) {
    .duo {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 1rem;
        }
}
.duo-item {
    display: grid;
    grid-template-rows: 1fr 2rem;
    border: .1rem #ccc solid;
    border-radius: 1rem;
    margin-bottom: 2rem 0;
    padding: .5rem 2rem 2rem 2rem;
}

.duo-item button {
    width: 12rem;
    margin: 0 auto;
}

p{
    font-size: 1.1rem;
    line-height: 1.5rem;
}

.logo {
    display: inline;
}

button {

    /* 
    border-width: 0.15rem;
    border-color: #999;
    border-style: solid; 
    */
    border: 0.15rem solid var(--header-background);
    border-radius: 2rem;
    padding: .5rem 1rem;
    transition: background 0.1s 0.1s linear, color 0.1s 0.1s  linear;

}

button:hover {
    color:white;
    background-color: var(--header-background);
}

footer {
    margin-top: 1rem;
    min-height: 10rem;
    background: var(--footer-background);
}

/* h1 {
    color: rgb(0, 127, 255);
    color : #007FFF;
    color: var(--button-background);
} */
